---
name: release

on:
  push:
    branches:
      - master
    paths:
      - Dockerfile
      - requirements.txt
  workflow_dispatch: {}

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Get borg version
        id: borg_version
        run: |
          VERSION=$(python -c "from pkg_resources import parse_requirements; print(next(filter(lambda r: r.name == 'borgbackup', parse_requirements(open('requirements.txt').read()))).specs[0][1])")
          echo $VERSION
          echo "version=${VERSION}" >> $GITHUB_OUTPUT

      - uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.borg_version.outputs.version }}
          prerelease: false
          generate_release_notes: true
          make_latest: true
          token: ${{ secrets.GHA_PAT }}
